* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.download_btn {
    display: flex;
    bottom: none;
    color: #fff;
    border-radius: 6px;
    padding: 16px 25px;
    align-items: center;
    background-color: #4a98f7;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-size: 22px;
    transition: .3s ease;
}

.download_btn:hover {
    background-color: #2382f6;
}

.download_btn i {
    margin-right: 10px;
}

.download_btn.timer {
    color: #333;
    background: none;
    box-shadow: none;
    border: none;
    pointer-events: none;
    transition: none;
}

b {
    color: #2382f6;
    padding: 0 8px;
}